# conda envs and temp
.env/
.venv/
results/
work/
nextflow_work_dir/
*.pyc
__pycache__/
*.swp
# large FASTQ / BAM - do NOT commit
data/
fastq/
bam/
reference/
fastq/
*.bam
*.bai
*.sam
*.fq
*.fastq
*.fastq.gz
*.dict
*.fai
*.vcf
*.vcf.gz
*.tbi
# snakemake temp
.snakemake/
